/*---------- FONT ----------*/
/*---------- COLOR ----------*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  color: #969696;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

main {
  padding: 3rem; }

/*---------- HEADER ----------*/
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-inline: auto; }
  header .logo {
    width: Min(100%, 9rem);
    margin-bottom: 4rem; }
  header h1 {
    font-size: 4.8rem;
    font-weight: 300;
    margin-bottom: 1.6rem; }
    header h1 span {
      font-weight: 700;
      color: #151f29; }
  header .header-text {
    color: #151f29;
    margin-bottom: 3rem; }
  header form {
    display: flex;
    width: 63rem;
    align-items: flex-start; }
    header form .email__container {
      display: flex;
      flex-direction: column;
      align-items: start;
      width: 100%;
      margin-right: 2rem; }
      header form .email__container input:invalid {
        border-color: #ff5263; }
      header form .email__container input:focus {
        background-color: #fff; }
      header form .email__container .email {
        width: 100%;
        display: inline-block;
        border: 1px solid #cccccc;
        border-radius: 100px;
        padding: 1.5rem 4rem 1.5rem 2rem;
        outline: none; }
        header form .email__container .email::placeholder {
          color: #cccccc; }
      header form .email__container .error-message {
        color: #ff5263;
        font-size: 1.3rem;
        top: 50%;
        margin-top: 1rem;
        margin-left: 2rem; }
      header form .email__container .hidden {
        display: none; }
    header form .submit-btn {
      display: inline-block;
      width: 20rem;
      border: none;
      border-radius: 100px;
      background-color: #4f7df3;
      color: #fff;
      padding: 1.5rem 3rem;
      font-weight: 600;
      text-align: center;
      box-shadow: 2px 4px 10px rgba(79, 125, 243, 0.4);
      cursor: pointer; }
      header form .submit-btn:hover, header form .submit-btn:active {
        background-color: #7096f5; }
  header .img {
    width: Min(80%, 64rem);
    margin-bottom: 7.2rem;
    margin-top: 9rem; }
    header .img img {
      width: 100%; }

/*---------- FOOTER ----------*/
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.2rem;
  color: #cccccc; }
  footer .social__link {
    list-style: none;
    display: flex;
    gap: 1.2rem; }
    footer .social__link a {
      cursor: pointer; }
  footer .social-icon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border: 1px solid #cccccc;
    border-radius: 100px;
    padding: 0.7rem;
    color: #4f7df3;
    cursor: pointer;
    transition: all 0.3s ease; }
    footer .social-icon:hover {
      background-color: #4f7df3;
      border-color: #4f7df3;
      color: #fff; }
  footer .copyright {
    font-size: 1.2rem;
    margin-bottom: -1rem; }
  footer .attribution {
    font-size: 1.2rem;
    text-align: center; }
    footer .attribution a {
      text-decoration: none;
      color: inherit;
      transition: all 0.3s ease; }
    footer .attribution a:hover {
      color: #4f7df3;
      font-weight: 600; }

/*---------- 780px ----------*/
@media (max-width: 48.75em) {
  main {
    padding: 2rem 0; }
  header {
    text-align: center; }
    header .logo {
      width: Min(100%, 6rem);
      margin-bottom: 4rem; }
    header h1 {
      font-size: 2.3rem; }
    header .header-text {
      font-size: 1.5rem; }
    header form {
      width: 70%;
      flex-direction: column;
      align-items: center; }
      header form .email__container {
        margin: 0; }
        header form .email__container .email {
          margin-right: 0; }
        header form .email__container .error-message {
          font-size: 1.1rem; }
      header form .submit-btn {
        width: 100%;
        padding: 1.5rem 3rem;
        margin-top: 2rem; }
    header .img {
      margin-bottom: 10rem;
      margin-top: 4rem; }
  footer .copyright {
    text-align: center; } }
