/*---------- HEADER ----------*/
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-inline: auto;

  .logo {
    width: Min(100%, 9rem);
    margin-bottom: 4rem;
  }

  h1 {
    font-size: 4.8rem;
    font-weight: $fw-light;
    margin-bottom: 1.6rem;

    span {
      font-weight: $fw-bold;
      color: $color-dark-gray;
    }
  }

  .header-text {
    color: $color-dark-gray;
    margin-bottom: 3rem;
  }

  form {
    display: flex;
    width: 63rem;
    align-items: flex-start;

    .email__container {
      display: flex;
      flex-direction: column;
      align-items: start;
      width: 100%;
      margin-right: 2rem;

      input {
        &:invalid {
          border-color: $color-tertiary;
        }

        &:focus {
          background-color: #fff;
        }
      }

      .email {
        width: 100%;
        display: inline-block;
        border: 1px solid $color-light-gray;
        border-radius: 100px;
        padding: 1.5rem 4rem 1.5rem 2rem;
        outline: none;

        &::placeholder {
          color: $color-light-gray;
        }
      }

      .error-message {
        color: $color-tertiary;
        font-size: 1.3rem;
        top: 50%;
        margin-top: 1rem;
        margin-left: 2rem;
      }

      .hidden {
        display: none;
      }
    }

    .submit-btn {
      display: inline-block;
      width: 20rem;
      border: none;
      border-radius: 100px;
      background-color: $color-primary;
      color: #fff;
      padding: 1.5rem 3rem;
      font-weight: $fw-semi-bold;
      text-align: center;
      box-shadow: 2px 4px 10px rgba(79, 125, 243, 0.4);
      cursor: pointer;

      &:hover,
      &:active {
        background-color: $color-secondary;
      }
    }
  }

  .img {
    width: Min(80%, 64rem);
    margin-bottom: 7.2rem;
    margin-top: 9rem;

    img {
      width: 100%;
    }
  }
}

/*---------- FOOTER ----------*/
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.2rem;
  color: $color-light-gray;

  .social__link {
    list-style: none;
    display: flex;
    gap: 1.2rem;

    a {
      cursor: pointer;
    }
  }

  .social-icon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border: 1px solid $color-light-gray;
    border-radius: 100px;
    padding: 0.7rem;
    color: $color-primary;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: $color-primary;
      border-color: $color-primary;
      color: #fff;
    }
  }

  .copyright {
    font-size: 1.2rem;
    margin-bottom: -1rem;
  }

  .attribution {
    font-size: 1.2rem;
    text-align: center;

    a {
      text-decoration: none;
      color: inherit;
      transition: all 0.3s ease;
    }

    a:hover {
      color: $color-primary;
      font-weight: $fw-semi-bold;
    }
  }
}
