/*---------- FONT ----------*/
$font-default: "Libre Franklin", sans-serif;
$fw-light: 300;
$fw-semi-bold: 600;
$fw-bold: 700;

/*---------- COLOR ----------*/
$color-primary: hsl(223, 87%, 63%);
$color-secondary: hsl(223, 87%, 70%);
$color-tertiary: hsl(354, 100%, 66%);
$color-gray: hsl(0, 0%, 59%);
$color-light-gray: hsl(0, 0%, 80%);
$color-dark-gray: hsl(209, 33%, 12%);
